h1 {
  margin-top: 40px;
  font-size: 56px;
}

h2 {
  font-size: 30px;
}

h3 {
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

form {
  margin-top: 60px;
}

li {
  list-style: none;
}

img {
  width: 50px;
}


.container {
  font-family: "Roboto Condensed", sans-serif;
}

.weather-app-wrapper {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  margin-top: 100px;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 20px;
}

.current-weather {
  width: 150px;
}

.card {
  text-align: center;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.units {
  font-size: 25px;
}

.elements {
  color: red;
}

.current-weather-image {
  margin-left: 20px;
  margin-bottom: 20px;
}
