h1 {
  margin-top: 40px;
  margin-bottom: 0px;
  font-size: 60px;
}

h2 {
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

form {
  margin-top: 60px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

li:first-letter {
  text-transform: uppercase;
}

img {
  width: 50px;
}

.container {
  font-family: "Roboto Condensed", sans-serif;
}

.weather-app-wrapper {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  margin-top: 100px;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 20px;
}

.current-stats {
  font-size: 25px;
  margin-top: 20px;
}

.weather-image {
  margin-top: 20px;
  height: 80px;
  width: 80px;
}

.temperature {
  font-size: 40px;
}

.units {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  top: -18px;
  text-decoration: none;
}

.elements {
  position: relative;
  text-align: left;
  font-size: 20px;
}
.card {
  text-align: center;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 20px;
}

.weather-forecast-temperatures {
  font-size: 20px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
